@use '@angular/material' as mat;

$theme-dark-primary: mat.define-palette(mat.$green-palette, 700, 300, 900);
$theme-dark-accent: mat.define-palette(mat.$grey-palette, 100);
$theme-dark-warn: mat.define-palette(mat.$red-palette, 700, 300, 900);

$theme-dark: mat.define-dark-theme((
  color: (
    primary: $theme-dark-primary,
    accent: $theme-dark-accent,
    warn: $theme-dark-warn,
  )
));

@include mat.all-component-themes($theme-dark);
@include mat.strong-focus-indicators-theme($theme-dark);
