<p align="center">hello</p>

<p>User Email: {{ userEmail$ | async }}</p>

<div *ngIf="userProfile$ | async as userProfile">
  <p>User Name: {{ userProfile.name }}</p>
  <p>User Phone: {{ userProfile.phone }}</p>
</div>

<div>
  <img [src]="profilePictureUrl | async" alt="Profile Picture" width="150" height="150">
</div>

<form (submit)="updateUserProfile(nameInput.value, phoneInput.value)">
  <label for="name">Name:</label>
  <input type="text" id="name" #nameInput required>

  <label for="phone">Phone:</label>
  <input type="text" id="phone" #phoneInput required>

  <button type="submit">Update Profile</button>
</form>

<form (submit)="updateProfilePicture(profilePictureInput)">
  <!-- Other form fields -->

  <label for="profilePicture">Profile Picture:</label>
  <input type="file" id="profilePicture" (change)="onProfilePictureChange($event)" accept="image/*" #profilePictureInput>

  <button type="submit">Update Picture</button>
</form>

