.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .mat-toolbar-row {
    display: flex;
    align-items: center;
  }
  
  .toggler {
    margin-left: auto;
    margin-right: 30px;
    background-color: transparent; /* Set the background color to transparent */
    border: none; /* Remove the button border */
    cursor: pointer; /* Add a pointer on hover */
  }
  .profile{
    width: 20px;
    height: 20px;
    background-color: transparent; /* Set the background color to transparent */
    border: none;
    :hover{
      background-color: rgba(220, 220, 220, 0.199);
      border-radius: 5px;
      text-emphasis: "none";
      cursor: pointer;
    }
    
    
  }
  .profile .mat-icon{

    padding: 5px;

  }
  
  .logo {
    margin-right: 16px;
    cursor: pointer;
  }
  .logo img {
    height: 80px; /* Adjust the height as needed */
    width: 160px; /* Maintain the aspect ratio */
  }
  
  .sidenav-container {
    position: fixed;
    top: 64px; /* Adjust the top position to match navbar height */
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin-top: 0px; /* Add space between navbar and content */
    padding-bottom: 32px;
  }
  
  .sidenav {
    width: 250px;
    z-index: 1000;
  }
  
  .sidenav-list {
    overflow-y: auto; /* Enable vertical scrolling within the side nav */
    flex-grow: 1; /* Allow the list to grow and occupy the available space */
  }
  
  .sidenav-content {
    flex: 1;
    padding: 16px;
    overflow-y: auto; /* Enable vertical scrolling within the content */
  }
  
  .main-content {
    margin-top: 16px;
  }
  


